body {
  background-color: #f0f2f5;
}
.container {
  background-color: rgba(255, 255, 255, 0.5);
}
.row {
  margin: 0;
  margin-top: 10%;
  width: 100%;
}
.left-side {
  padding-top: 60px;
}
.fb {
  color: #1877f2;
  font-weight: bold;
  font-size: 60px;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  background-color: white;
  border-radius: 10px;
  width: 396px;
  text-align: center;
}
.login-input {
  border: 1px solid #dddfe2;
  border-radius: 10px;
  width: 364px;
  height: 52px;
}
.login-input:focus {
  outline-color: #1877f2;
}
.login-btn {
  width: 364px;
  height: 52px;
  background-color: #1877f2;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: x-large;
}
.forgetten {
  color: #1877f2;
}
.create-account {
  width: 220px;
  height: 52px;
  background-color: #42b72a;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: larger;
}
.cover {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}
.signup {
  background-color: white;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 35%;
  display: none;
}
.signup input {
  border-radius: 5px;
  height: 35px;
  margin-bottom: 15px;
  outline: none;
  border: 1px solid gray;
  width: 100%;
}
.signup p {
  margin: 0px !important;
}
.input-container {
  display: flex;
  justify-content: space-between;
}
#show-password {
  width: 15px;
  height: 15px;
}
.gender {
  height: 15px !important;
  width: 13px !important;
  margin-bottom: 30px !important;
}
.name-error {
  width: 49% !important;
}
.signup-btn {
  background-color: #42b72a;
  color: white;
  font-size: larger;
  outline: none;
  width: 200px !important;
}
.submit {
  display: flex;
  justify-content: center;
}
.error {
  color: red;
  font-size: small;
}
